{% extends 'base.html.twig' %}

{% block title %}Ethereum Page{% endblock %}

{% block body %}
<body>
<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const labels = {{ bitcoin_time|json_encode|e }} ;
    const data =
        {
            labels: labels,
            datasets:
                [{
                    label: 'Ethereum',
                    backgroundColor: '#1fc36c',
                    borderColor: '#1fc36c',
                    data: {{ bitcoin_data|json_encode|e }},
                    tension: 0.5
                }]
        };
    const config =
        {
            type: 'line',
            data: data,
            options: {
                title : 'Ethereum',
                responsive: true,
                scales:{
                    y:{
                        beginAtZero: true,
                        min: 1358.2,
                        max: 1359.5
                    }
                }
            }
        };
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>
</body>
{% endblock %}