*
{
    margin: 0;
    padding:0;
}

body
{
    font-family: "roboto", sans-serif;
    background-color: #100f0f;
    color:#efefef;
}

a
{
    color: #efefef;
    text-decoration:none;
}

p
{
    color: #1fc36c;
    text-align: center;
    justify-content: center;
}

a:hover
{
    color: #1fc36c;
}

.navbar
{
    display: flex; /* met sur la même ligne le titre avec bloc action (le crayon et le +) */
    justify-content: space-between;
    align-items: center; /* aligne le titre avec bloc action (le crayon et le +) */
}

.logo
{
    font-family: "Akzidenz-Grotesk BQ", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size:40px ;
}

.actions
{
    display: flex;
    align-items: center;
    gap: 2rem; /* 1rem = 16px */ /* distance entre les elements sans utiliser margin et autre*/
}

.actions:hover
{
    color: #1fc36c;
}

titlePage
{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------- page d'accueil -------------- */

h1
{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 36px;
}

.currency
{
    justify-content: space-around;
    text-align: start;
    display: flex;    
}

.currency .text
{

    display: flex;
    gap: 5px;
    border-bottom-color: #36393e;
    border-bottom-width: 1px;
    border-bottom-style:solid;
    border-left: 100px;
    padding: 25px 25px 25px 25px;
    font-size: 30px;
}

.currency .text .image-container
{
    width: 40px;
    height: 40px;
}

.currency .text .image-container img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.currency .text .image-container a
{
    width: 100%;
    height: 100%;
}

.currency .arrow .image-container
{
    width: 40px;
    height: 40px;

}

.currency .arrow .image-container svg
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -------------- page admin Crayon -------------- */

.edit a svg /* Icone du crayon */
{
    fill: #efefef;
}

.edit .curr
{
    display: flex;
    gap: 15px;
    padding: 100px 25px 25px 100px;
    border: #efefef;
}

.edit .curr .image-container
{
    width: 40px;
    height: 40px;
}

.edit .curr .image-container svg
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit .text
{
    width: 200px;
    height: 40px;

}

.edit .text .field
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-size: 30px;
    padding-left: 10px;
    font-family: "roboto", sans-serif;
}

.edit .qty
{
    display: flex;
    gap: 15px;
    padding: 25px 100px
}

.edit .qty .image-container
{
    width: 40px;
    height: 40px;
}

.edit .qty .image-container svg

{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit .button .ajouter
{
    padding: 15px 80px 15px 80px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    bottom: -200px;
    left:100px;
    background-color: #36393e;
    border-color: #36393e;
    font-family: "roboto", sans-serif;
}

/* -------------- page Plus + -------------- */

.add .crypto
{
    display: flex;
    gap: 15px;
    padding: 100px 25px 25px 100px;
    border: #efefef;
}

.add .crypto .image-container
{
    width: 40px;
    height: 40px;
}

.add .crypto .image-container svg
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add .text
{
    width: 200px;
    height: 40px;
}

.add .text .field
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-size: 30px;
    padding-left: 10px;
    font-family: "roboto", sans-serif;
}

.add .qté
{
    display: flex;
    gap: 15px;
    padding: 25px 100px
}

.add .qté .image-container
{
    width: 40px;
    height: 40px;
}

.add .qté .image-container svg

{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add .price
{
    display: flex;
    gap: 15px;
    padding: 25px 100px
}

.add .price .image-container
{
    width: 40px;
    height: 40px;
}

.add .price .image-container svg
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add .button .ajouter
{
    padding: 15px 80px 15px 80px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    bottom: -100px;
    left:100px;
    background-color: #36393e;
    border-color: #36393e;
    font-family: "roboto", sans-serif;
}
